---
import "../../styles/page/swiper-auto-slide.scss"
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Swiper ~ 自動スライド">
	<main>
		<div class="l-container">
			<div class="c-swiperAuto swiper-container js-swiperAuto">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="img">
							<img src="/assets/img/dummy/img1.webp" alt="" width="2880" height="1600">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="img">
							<img src="/assets/img/dummy/img2.webp" alt="" width="2880" height="1600">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="img">
							<img src="/assets/img/dummy/img3.webp" alt="" width="2880" height="1600">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="img">
							<img src="/assets/img/dummy/img4.webp" alt="" width="2880" height="1600">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="img">
							<img src="/assets/img/dummy/img1.webp" alt="" width="2880" height="1600">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="img">
							<img src="/assets/img/dummy/img2.webp" alt="" width="2880" height="1600">
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>
<script src="../../scripts/page/swiper-auto-slide.js"></script>