---
import "../../styles/page/swiper-type1.scss"
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Swiper ~ 1枚ごとスライドしコンテンツ幅以上はスライドしない">
	<main>
		<div class="l-container">
			<div
				class="c-swiperSingle swiper-container js-swiperSingle"
				data-loop="false"
				data-fit="true"
				data-pagination-type="bullets"
			>
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="img">
							<img src="/assets/img/dummy/img1.webp" alt="" width="2880" height="1600">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="img">
							<img src="/assets/img/dummy/img2.webp" alt="" width="2880" height="1600">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="img">
							<img src="/assets/img/dummy/img3.webp" alt="" width="2880" height="1600">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="img">
							<img src="/assets/img/dummy/img4.webp" alt="" width="2880" height="1600">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="img">
							<img src="/assets/img/dummy/img1.webp" alt="" width="2880" height="1600">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="img">
							<img src="/assets/img/dummy/img2.webp" alt="" width="2880" height="1600">
						</div>
					</div>
				</div>
				<div class="c-swiperSingle__pg">
					<div class="swiper-button-prev">◀︎</div>
					<div class="swiper-button-next">▶︎</div>
				</div>
				<div class="c-swiperSingle__scrollbar">
					<div class="swiper-scrollbar"></div>
				</div>
				<div class="c-swiperSingle__pagination">
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</div>
	</main>
</Layout>
<script src="../../scripts/page/swiper-type1.js"></script>