---
import "../../styles/page/simplebar-horizontal.scss"
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Simplebar ~ Horizontal Scroll">
	<main>
		<div class="l-container">
			<div class="c-horizontal js-simplebar" data-simplebar data-simplebar-auto-hide="false">
				<div class="c-horizontal__inner">
					<div class="img">
						<img src="/assets/img/dummy/img1.webp" alt="" width="2880" height="1600">
					</div>
					<div class="img">
						<img src="/assets/img/dummy/img2.webp" alt="" width="2880" height="1600">
					</div>
					<div class="img">
						<img src="/assets/img/dummy/img3.webp" alt="" width="2880" height="1600">
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>
<script src="../../scripts/page/simplebar-horizontal.js"></script>