---
import Layout from "../../layouts/Layout.astro";


---
<Layout title="Page">
	<ul>
		<li class="jsTarget">1</li>
		<li class="jsTarget">2</li>
		<li class="jsTarget">3</li>
	</ul>
	<div class="youtube" id="youtube"></div>
</Layout>

<style lang="scss">
	@use "../../styles/global/app" as *;
	:root {
		--dummy-black: #222;
		--dummy-baige: #f9f2e5;
	}
	body {
		background: var(--black2);
		min-height: 100vh;
	}
	ul{
		display: flex;
		gap: 10px;
		padding: 10px;
	}
	.jsTarget{
		cursor: pointer;
		width: 100px;
		height: 100px;
		background: red;
		color: #fff;
		font-size: 16px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.youtube{
		width: 300px;
		height: 300px;
		background: pink;
	}
</style>

<script src="../../scripts/page/click-play-iframe.js"></script>
