---
import Layout from "../../layouts/Layout.astro";
---
<style lang="scss">
@use "../../styles/global/app" as *;
:root {
	--dummy-black: #222;
	--dummy-baige: #f9f2e5;
}
body {
	background: var(--black2);
	min-height: 100vh;
}
h1 {
	font-size: 32px;
	color: var(--beige);
	font-weight: bold;
	line-height: 100%;
	padding: 32px 24px;
	@include sp_w(){
		padding: 24px 20px;
	}
}
.video{
	// width: 200px;
	// height: 600px;
	// background: red;
	// overflow: hidden;

	// iframe{
	// 	width: auto;
	// 	height: auto;
	// }
	background: red;
	// padding:177.78% 0 0 0;
	position:relative; 
	width: 475px; 
	height: 720px;
}
</style>

<Layout title="Test Page">
	<main>
		<h1>Test Page</h1>

		<div class="video">
			<div class="video__inner">
				<!-- <iframe src="https://player.vimeo.com/video/653590808?h=f45c4c54e5&autoplay=1&loop=1&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe> -->
				<!-- <video src="https://cdn.discordapp.com/attachments/1081493066126471168/1145490259837190144/shader5.mp4" autoplay muted loop></video> -->
			</div>
		</div>
	</main>
</Layout>

<script>
  window.addEventListener("DOMContentLoaded", (e) => {
		console.log("hoge");
  });
</script>